$primary-bg-color: rgb(37, 70, 141);
$secondary-bg-color: green;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$menu-bg-color: black;
$menu-red-bg-color: red;
$black-border: 1px solid black;
$black-border-bold: 3px solid black;

$extrasmall-font-size: 1.5rem;
$small-font-size: 2rem;
$large-font-size: 4rem;

$standard-padding: 1rem;
$bottom-space: 1.5rem;

@mixin button-style($background-color : purple) {
    font-size: $small-font-size;
    color: $primary-bg-color;
    background-color: $background-color;
}

@mixin button-style($background-color : purple) {
    font-size: $small-font-size;
    color: $primary-bg-color;
    background-color: $background-color;
}

@mixin tabela-kalendarz {
    border: $black-border;
    border-collapse: collapse;
    text-align: center;
    font-size: $small-font-size;
    color: $secondary-text-color;
}

body {
    padding: $standard-padding;
    background-color: $primary-bg-color;
}

.menu {
    margin-bottom: $bottom-space;
}

.menu__button {
    @include button-style(green);
}

.menu__menu-contents {
    display: none;
    font-size: $extrasmall-font-size;
    padding: 1rem;
    background-color: $menu-bg-color;
}

.menu-contents__element {
    flex-grow: 1;
}

.menu-contents__element a {
    color: $primary-text-color;
}

.tabela_kalendarz {
    width: 100%;
    margin-bottom: $bottom-space;
    @include tabela-kalendarz;
    border: $black-border-bold;
}

.tabela_kalendarz th,
.tabela_kalendarz td {
    border: $black-border;
}

.tabela_kalendarz__tr-empty {
    display: none;
}

.stoper-wyswietlacz h2 {
    font-size: 4rem;
}

.stoper-sterowanie {
    display: flex;
    justify-content: center;
}

.stoper-sterowanie__button-stoper {
    @include button-style(red)
}








////////////////////////


$button-bg-color: rgb(20, 152, 46);
$button-border-color: darkgreen;
$button-hover-bg: rgb(166, 158, 4);
$button-hover-border: rgb(100, 98, 0);

$menu-text-color: white;
$gallery-bg-color: rgb(0, 107, 174);
$image-width: 30%;
$text-width: 20%;
$spacing: 30px;







@mixin flex-container($align: center, $justify: center) {
    display: flex;
    flex-wrap: wrap;
    align-items: $align;
    justify-content: $justify;
}

.flex {
    @include flex-container();
}


@mixin gallery-style($bg-color, $img-width, $text-width) {
    background-color: $bg-color;
    color: white;

    img {
        padding: 50px;
        width: $img-width;
    }

    .text {
        width: $text-width;
    }
}

.galeria {
    width: 100%;
    @include gallery-style($gallery-bg-color, $image-width, $text-width);
}

#galeria1 {
    margin-left: $spacing;
    margin-bottom: $spacing;
}

#galeria2 {
    margin-right: $spacing;
}

#galeria3 {
    margin-left: $spacing;
    margin-top: $spacing;
}

footer {
    height: 10vh;
}

